*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    /* background-color: #0f172a; */
    background-color: white;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.area-logo {
    display: flex;
    align-items: center;
}
.area-menu{
    display: flex;
    align-items: center;
}
nav ul, 
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover{
    background-color: #39aae1;
    color: white;
}
#banner {
    display: flex;
    justify-content: center;
    background-image: url(../img/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column {
    flex-direction: column;
}
.banner-headline{
    flex: 1 ; 
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    
}
.banner-headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0 1px 0 #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner-headline h2{
    color: white;
    font-size: 21px;
    margin: 0;
    text-shadow: 0 1px 0 #555555;
    padding: 0;
    width: 350px;
    margin-top: 30px;
    max-width: 350px;
}
.banner-options{
    display: flex;
    height: 210px;
}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: white;
    padding: 20px;
}
.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}
.banner-title{
    font-size: 20px;
}
.banner-desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner-options a{
    text-decoration: none;
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 12px;
}
.quadro-horario{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0079c7;
    padding: 5px;
}
#conteudo-geral {
    display: flex;
    justify-content: center;
}
#conteudo-geral section{
    flex: 2;
}
#conteudo-geral aside{
    flex: 1;
}
.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget-title-text {
    color: black;
    font-size: 21px ;
    font-weight: bold;
}
.widget-title-bar{
    width: 50px;
    height:3px ;
    background-color: cyan;
    margin-top: 10px;
}
.widget-body{
    display: flex;
    flex-flow: row wrap;
}
.deparments-content{
    width: 120px;
    height: 120px;
    background-color: #39aae1;
    margin: 15px;
}
.widget-body a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}